.header {

  height: 20%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: flex-start;

  &__info {

    border-top-left-radius: 15px;
    width: 30%;
    display: flex;

    &__left {

      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 80%;

      &__cityName {

        font-size: 3em;

      }

      &__temperature {

        font-size: 2em;
        margin-left: 5px;

      }


    }

    &__right {

      min-width: 15%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.3em;

      &__weatherName {

        margin-bottom: 5px;

      }

      &__image {

        max-width: 100%;
        margin-bottom: 10%;

      }

    }

  }

}