@use "./palette.module.scss" as palette;

.main {

  @include palette.myFont(300);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10% 0 10% 10%;
  font-size: 1.3vw;
  outline: 2px solid black;
}