@use "./palette.module.scss" as palette;

.main {

  flex-grow: 1;

  &__section {

    display: flex;
    align-items: center;

    &__image {
      @include palette.smallImage(30px);
    }

    &__txt {}


  }

}